
.header {
  /*   display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  background-color: #633f7f;
  position: absolute;
  top: 0; */
  /* margin-bottom: 2rem; */
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  /* top: 0; */
  /* z-index: 10; */
  background: rgba(99, 63, 127, 0.7);
  width: 100%;
  height: 4rem;
}
.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0px 15px;
}
.header a:hover {
  color: #ab65d9;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.logomarca {
  width: 700px;
  margin: auto;
}

.description {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 50px;
}

.wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper a {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 10px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.wrapper a span {
  position: relative;
  /* z-index: 2; */
}

.wrapper a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

.wrapper a:hover {
  color: #fff;
}

.wrapper a:hover:after {
  width: 100%;
}

@media (max-width: 870px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2px px;
  }

  .logomarca {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2px px;
  }

  .logomarca {
    width: 550px;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin: 2px px;
  }

  .logomarca {
    width: 500px;
    margin: auto;
  }
}

@media (max-width: 575px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin: 2px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  .logomarca {
    width: 450px;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 2px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .logomarca {
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 440px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 2px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .logomarca {
    width: 350px;
    margin: auto;
  }
}

@media (max-width: 400px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 0.65rem;
    font-weight: 300;
    margin: 4px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  .logomarca {
    width: 300px;
    margin: auto;
  }
}

@media (max-width: 350px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 0.64rem;
    font-weight: 900;
    margin: 1px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }

  .logomarca {
    width: 250px;
    margin: auto;
  }
}

@media (max-width: 310px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 0rem;
    font-weight: 900;
    margin: 2px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }

  .logomarca {
    width: 200px;
    margin: auto;
  }
}

@media (max-width: 270px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 0.2rem;
    font-weight: 800;
    margin: 2px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }

  .logomarca {
    width: 150px;
    margin: auto;
  }
}

@media (max-width: 250px) {
  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 0.3rem;
    font-weight: 1500;
    margin: 2px px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }

  .logomarca {
    width: 150px;
    margin: auto;
  }
}
