.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}
.container h2 {
  font-size: 2.2rem;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  width: 85%;
  margin-top: 4rem;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}
.icone{
    width: 8rem
}

.item p{
    text-align: center;
}

@media (max-width: 870px){
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    width: 80%;
    margin-top: 2rem;
  }

  .container h2 {
    font-size: 1.7rem;
  }

  .icone{
    width: 4rem
  }

  .item p{
    text-align: center;
    font-size: 0.8rem;
  }

  .container h3{
    font-size: 0.85rem;
  }
}

@media (max-width: 520px){
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 80%;
    margin-top: 2rem;
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .icone{
    width: 3rem
  }
}

@media (max-width: 442px){
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 100px;
    width: 80%;
    margin-top: 1rem;
  }

  .container h2 {
    font-size: 1.7rem;
  }

  .icone{
    width: 2.5rem
  }

  .container h3{
    font-size: 1.0rem;
  }

  .item p{
    text-align: center;
    font-size: 0.9rem;
  }
}

@media (max-width: 340px){
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 90px;
    width: 70%;
    margin-top: 0.9rem;
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .icone{
    width: 2.0rem
  }

  .container h3{
    font-size: 0.8rem;
  }

  .item p{
    text-align: center;
    font-size: 0.9rem;
  }
}

@media (max-width: 280px){
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
    margin-left: 5px;
    margin-right: 5px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 70px;
    width: 60%;
    margin-top: 0.8rem;
  }

  .container h2 {
    font-size: 1.3rem;
  }

  .icone{
    width: 2.5rem
  }

  .container h3{
    font-size: 0.7rem;
  }

  .item p{
    text-align: center;
    font-size: 0.8rem;
  }
}

@media (max-width: 218px){
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 70px;
    width: 60%;
    margin-top: 0.5rem;
  }

  .container h2 {
    font-size: 1.0rem;
  }

  .icone{
    width: 1.5rem
  }

  .container h3{
    font-size: 0.8rem;
  }

  .item p{
    text-align: center;
    font-size: 0.7rem;
  }
}
